body{
	background-color:#3250fc;
	text-align: center;
}

h1,h2,h3,h4{
	text-align: center;
	font-family: helvetica;
    color: black;
}

.main-container{
	width: 600px;
	border: 1px black solid;
	height: 450px;
	margin: auto;
	background-color: white;
	margin-top: 100px;
	border-radius: 10%;
}

.clock-container{
	position: relative;
	width: 90%;
	margin: auto;
	height: 90px;
	border: red 1px solid;
	margin-top: 50px;
}
